.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);

    &.background-nav {
        background-color: $primary-blue;
    }

    .navbar-toggler {
        &:focus {
            outline: none;
        }
    }

    .cursor {
        cursor: pointer;
    }
        
    .toggler {
        .navbar-toggler-icon {
            background-image: $icon-toggle-mobile;
        }
        border: 0
    }

    .nav-link{
        color: $white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        height: 35px;

        &:focus, &:active {
            color: $white !important;
        }
    }

    .btn-login {
        border: 1.5px solid #dee2e6!important;
        border-radius: 50px !important;
        min-width: 150px;
        min-height: 20%;
    }

}
