// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;


// colors
$white: #ffffff;
$black: #000000;

// fonts
$gray-dark: #575757;
$gray-light: #616575;
$gray-light-copy: #595A6D;

// landing
$primary-blue: #00A3FF;
$primary-blueDark: #1B1F51;

$gradient-1: #63C7FF;
$gradient-2: #00A3FF;

// dashboard
$bg-dark: #37404D;
$bg-sidebar: #5B6775;

$gray-light-bg: #F8F8F8;

/*Break points*/
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;