// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;


// colors
$white: #ffffff;
$black: #000000;
$primary-red:#F84651;
$gray-medium-light: #E4E4E4;
$red-light: #f846519c;

// fonts
$gray: #616575;
$gray-dark: #575757;
$gray-light: #616575;
$gray-light-copy: #595A6D;
$blue-dark: #37404D;
$white-light: #f3f3f3;

// landing
$primary-blue: #00B0FF;
$primary-blueDark: #1B1F51;
$secondary-blue: #F6FAFD;

$gradient-1: #63C7FF;
$gradient-2: #00A3FF;

// dashboard
$bg-dark: #37404D;
$bg-sidebar: #5B6775;

$gray-light-bg: #F8F8F8;

// footer Login
$bg-footer-login: rgba(128, 209, 255, 0.75);

/*Break points*/
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Images for Landing

$icon-toggle-mobile: url('../../public/img/common/toggle-mobile.svg');
$icon-mobile: url('../../public/img/common/logo.svg');
$img-branding: url('../../public/img/common/brandingn.svg');
$icon-user-login: url('../../public/img/icon/user-icon.svg');
$icon-padlock: url('../../public/img/icon/padlock-icon.svg');
$icon-error: url('../../public/img/icon/error-icon-empty.svg');
$icon-store: url('../../public/img/icon/icon-stor.svg');
$icon-email: url('../../public/img/icon/mail.svg');
$icon-phone: url('../../public/img/icon/phone.svg');
$icon-signout: url('../../public/img/icon/signout.svg');
$icon-division: url('../../public/img/icon/division.svg');

//Icons for dashboard
$icon-admin: url('../../public/img/icon/icon-admin.svg');
$icon-hr: url('../../public/img/icon/icon-hr.svg');
$icon-inventory: url('../../public/img/icon/icon-inventory.svg');
$icon-categories: url('../../public/img/icon/icon-categories.svg');
$icon-providers: url('../../public/img/icon/icon-providers.svg');
$icon-sell: url('../../public/img/icon/icon-sell.svg');
$icon-promotions: url('../../public/img/icon/icon-promotions.svg');
$icon-stadistics: url('../../public/img/icon/icon-stadistics.svg');
$icon-missing: url('../../public/img/icon/icon-missing.svg');
$icon-products: url('../../public/img/icon/icon-products.svg');
$icon-new-seller: url('../../public/img/icon/icon-new-seller.svg');
$icon-edit: url('../../public/img/icon/icon-edit.svg');
$icon-delete: url('../../public/img/icon/icon-delete.svg');
